*.sublime-workspace
build
unused
.tags*
doc/paperscript/*/*.aux
doc/paperscript/*/*.fdb_latexmk
doc/paperscript/*/*.log
doc/paperscript/*/*.pdf
doc/paperscript/*/*.synctex.gz
*.state
backup
_backup
matlab/*.m
data/scripts
matlab/*.lib
matlab/*.mexw64
matlab/temp.mat
Panoramix.sublime-project
*.cereal
*.blend1
/data/serialization/pano2.json
/matlab/LineDrawingMatrices.mat
/matlab/matlab.mat
/todo.txt
/doc/Pseudo_Inverse.pdf

.vscode
